/* ---------------------------------------------------
    FONDO STYLE
----------------------------------------------------- */
.bg-datatable {
    background-color: #ffffff99 ;
    border-radius: 5px;
}
.f {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn {
    font-weight: 700;
}

.btn-secondary, .btn-warning, .btn-primary {
    color: white;
}

.btn-secondary:hover, .btn-warning:hover, .btn-primary:hover {
    color: white;
}

.btn-secondary:active, .btn-warning:active, .btn-primary:active {
    color: white !important;
}
.btn-secondary:focus, .btn-warning:focus, .btn-primary:focus {
    color: white;
}

.card .card-header{
    padding: .2em .5em  0;
}

.card .card-header .d-flex{
    /*position: relative;*/
    /*bottom: 1em;*/
    position: relative;

}
.card .card-header .d-flex img{
    /*position: absolute;*/
    flex: left;
    margin-top: -1em;
    width: 3.4em;
        height: 3.4em;
}

.table-sm th, .table-sm td {
    padding: .2em .2em;
}

/*.fondoLogin {
	background-image: url(../img/fondoLoginA.png);
    background-size: cover;
position: fixed;
min-height: 100vh;
}*/

.shadow-nav {
    box-shadow: 0px 3.5em 0 70px #333;
}
.fondo {
    background-image: url(../img/GallinasPatron-BW.jpg);
    position: fixed;
    background-size: 300px;
    opacity: .1;
    /*background-color: #efefef;*/
}
.amarillo{
    background-color: #db9b43;
}
.naranja{
    background-color: #eaca81;
}
.rojo{
    background-color: #d34641;
}
/*af3a36*/
/*fff581*/
.bg-orange{
	background: #f0ad4e;
	color: white;
}
.fondoLogin{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fff, #000);
    overflow: hidden;
}
.burbuja{
    border-radius: 50%;
    background-color: #bbc3c6;
    opacity: .3;
    position: absolute;
    bottom:  -150px;
    animation: burbujas 2s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;

}
.burbuja:nth-child(3){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;

}
.burbuja:nth-child(4){
    width: 65px;
    height: 65px;
    left: 32%;
    animation-duration: 3s;
    animation-delay: 4s;

}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 15%;
    animation-duration: 2s;
    animation-delay: 3s;
}
.burbuja:nth-child(6){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity:0;
    }
}
/* ---------------------------------------------------
    BUTTONS STYLE
----------------------------------------------------- */
.cir {
    border-radius: 60px;
    height: 10em;
}
.btn-group .btn {
	padding: 0 .4em;
}
.btn-danger {
	color: white !important;
}
/* ---------------------------------------------------
    MODAL STYLE
----------------------------------------------------- */
.modal .modal-fluid {
	width: 90%;
	max-width: 90%;
}
.modal .modal-fluid .modal-content {
	width: 100%;
}
.modal-dialog .bg-danger .lead{
	color:white !important;
}
.modal.modal-dialog{
	width: 1000px;
}

/* ---------------------------------------------------
    ALERTBOX STYLE
----------------------------------------------------- */
.alertBox {
	position: absolute;
    z-index: 1050;
	max-width: 40%;
    max-height: 60%;
	bottom: 0;
	right: 0;
    overflow-y: scroll;
}
.alertBox .alert {
    margin: .3em;
}
/* ---------------------------------------------------
    CARD DARK STYLE
----------------------------------------------------- */
.card-dark {
  background-color: #343a40ee;
  border-color: #343a40;
}
.card-dark .card-header {
  background-color: #343a40ee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-dark .card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  color: white;
}
/* ---------------------------------------------------
    TABLE STYLE
----------------------------------------------------- */
thead{
	border-top: transparent;
	background-color: transparent;
}
tbody tr td {
    /*width: 20%;*/
	padding: 0;
	margin: 0;
}
tbody tr td .btn-group {
	margin-top:10px;
}
tbody tr {
    margin: 0;
    padding: 0;}
/*}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #c4c4c4 ;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: #eee ;
}*/
tr td input {
	min-width: 5em;
}
.table th,
.table td {
  vertical-align: center;
  border-top: 1px solid transparent;
}
/* ---------------------------------------------------
    DATATABLE STYLE
----------------------------------------------------- */
/*.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff;
    font-weight: 600;
}

.table-scrolly{
    max-height: 20em;
    overflow-y: scroll;
}

.dataTables_wrapper label {
    font-weight: 600 !important;
}

.page-item.disabled .page-link {
    color: #343a40;
    background-color: #eeeeee;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #343a40;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #f0ad4e;
    background-color: #eeeeee;
    border: 1px solid #dee2e6;
}*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    background: rgba(0,0,0,.7);
    color: #fff;
    height: 100vh;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(0,0,0,.5);
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}
#sidebar ul li a:hover {
    background: rgba(0,0,0,.3);
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #f0ad4e;
}
/*a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f0ad4ecc;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Botones Baseball
----------------------------------------------------- */

.b1 {
    z-index: 1;
    display: inline-block;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border: none;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
}

.b1:active {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.b1-primary {
    background: #ffab4099;
}

.b1-primary::before, .b1-primary::after {
    content: "";
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: var(--orange);
    border-radius: 50%;
    /* para hacerlo primero hasta aqui para luego colocar la animacion*/
    transition: 0.5s ease;
}

.b1-primary::before {
    top: calc(50% - 0.6em / 2);
    left: 0;
}

.b1-primary::after {
    bottom: calc(50% - 0.6em / 2);
    right: 0;
}

.b1-primary:hover {
    color: white;
}

.b1-primary:hover::before, .b1-primary:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
}

.b1-primary:hover::before {
    z-index: -1;
    top: 0;
}

.b1-primary:hover::after {
    z-index: -2;
    bottom: -0.3em;
    right: -0.3em;
    filter: brightness(0.85);
}
.modal-content{
    background: rgba(255, 255, 255,.9);
}
.icono{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
/*.tablaProduccion th, .tablaProduccion td {
    width: 3em;
}*/
.input-group-text{
    background-color: rgba(52,58,64, 0.7);
    color: white;
}
.botonesModales{
    font-weight: 600;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.iconosModales{
    position: relative; 
    top: -2em;
}
.iconosModales div{
    border-radius: 5px;
}
path{
    fill: currentColor;
}
.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}